
.input1 {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    color: black;
    font-family: 宋体;
}

.input2 {
    width: 120px;
    height: 100%;
    font-size: 16px;
    border: none;
    color: black;
    font-family: 宋体;
}

.textarea1 {
    border: none;
    font-size: 16px;
    height: 140px;
    width: 99.6%;
    resize: none;
}
/*提示信息 font*/
.tip {
    color:rgba(0, 0, 0, 0.5);
    font-size: 13px;
    margin-left:10px;
}
/*提示信息 p*/
.tip1 {
    color:rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin-left:10px;
}
.font2
{
	font-size: 16px;
	color:black;
	font-family: 宋体;	
}
.button1 {
    background-color: #f8ec56;
    height: 35px;
    width: 60px;
    border-radius:4px;
    border: none;
    font-family: 宋体;
    font-size: 16px;
}

.button1:hover {
    background-color: darkorange;
}

table tr{
	height:35px;
}


