.txtcon {
                width: 80px;
                height: 30px;
                font-size: 16px;
                font-family: 幼圆;
                font-weight:bold;
                background-color: #0080ff;
                border-radius: 4px;
                border: 0px;
            }
            
            .inputcon {
                width: 90%;
                height: 100%;
                font-size:16px;
                
            }
            .div1 {
                position: absolute;
                width: 100%;
                top: 0px;
                left: 0px;
                bottom: 0px;
                text-align: center;
                /*background-color: rgb(149, 181, 240);*/
                overflow:auto;
            }
            
            .submit:hover {
                background-color: yellow;
            }
            
            .color {
                /*rgba(152, 251, 152, 0.5); //设置透明度为0.5*/
            }
            
            .color1 {
                color: rgb(149, 181, 240);
            }
            
            .font1 {
                color: rgba(0, 0, 0, 0.4);
            }